.sidebar.small-screen{
    width: 100%;
    height: 90px;
    z-index: 10;
    padding-top: 15px;
}
/* 也可以直接在js里改css样式，但如果样式都在css里定义，样式和js代码更分离 */

.sidebar.small-screen .menu-wrapper{
    display: none;
}

.sidebar.small-screen .image-text{
    width: max-content;
}
.sidebar.small-screen .image-text img{
    width: 50px;
}
.sidebar.small-screen .image-text .logo-text{
    font-weight: 600;
}

.sidebar.small-screen .language-menu-toggle{
    display: flex;
}

.sidebar.small-screen .language-menu-toggle .icon{
    min-width: 20px;
    height: 20px;
    margin: 15px;
    /* cursor: pointer; */
}

.sidebar.small-screen header{
    display: flex;
    align-items: center;

    justify-content: space-between;
    /* 有右侧两个图标时为了让图标和.image-text一左一右直接用space-between就行 */
}

.menu.visible{
    display: block !important;
    height: 80px;
}


.home.small-screen{
    width: 100% !important;
    left: 0 !important;
    top: 0 !important;
    height: 100% !important;
}

.home.small-screen .header{
    display: none;
}

.home.small-screen .content{
    margin-top: 20px;
}
/* 为了排版搜索&AI不会被遮挡 */

.row .col.small-screen{
    width: 50%;
}
