@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1699877773952') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiangji:before {
  content: "\e7a7";
}

.icon-shuaxin:before {
  content: "\e80b";
}

.icon-maikefeng:before {
  content: "\e73b";
}

.icon-icon_arrow_right:before {
  content: "\e62f";
}

